[submodule "gar"]
	path = gar
	url = https://github.com/gardesk/gar.git
	branch = trunk
[submodule "garbar"]
	path = garbar
	url = https://github.com/gardesk/garbar.git
	branch = trunk
[submodule "garbg"]
	path = garbg
	url = https://github.com/gardesk/garbg.git
	branch = trunk
[submodule "gardm"]
	path = gardm
	url = https://github.com/gardesk/gardm.git
	branch = trunk
[submodule "garlock"]
	path = garlock
	url = https://github.com/gardesk/garlock.git
	branch = trunk
[submodule "gartk"]
	path = gartk
	url = https://github.com/gardesk/gartk.git
	branch = trunk
[submodule "garlaunch"]
	path = garlaunch
	url = https://github.com/gardesk/garlaunch.git
	branch = trunk
[submodule "garclip"]
	path = garclip
	url = https://github.com/gardesk/garclip.git
	branch = trunk
[submodule "garshot"]
	path = garshot
	url = https://github.com/gardesk/garshot.git
	branch = trunk
[submodule "gartray"]
	path = gartray
	url = https://github.com/gardesk/gartray.git
	branch = trunk
[submodule "garfield"]
	path = garfield
	url = https://github.com/gardesk/garfield.git
	branch = trunk
[submodule "garterm"]
	path = garterm
	url = https://github.com/gardesk/garterm.git
	branch = trunk
[submodule "garnotify"]
	path = garnotify
	url = git@github.com:gardesk/garnotify.git
[submodule "garchomp"]
	path = garchomp
	url = https://github.com/gardesk/garchomp
